.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tree {
    padding: 0.5rem;
    border-radius: 10px;
    text-align: center;
    overflow: scroll;
    flex: 1;
    border: 2px solid black;
}